.listButtons__button {
    background-color: transparent;
    border: none;
    color: teal;
    cursor: pointer;
    transition: 1s;
}

.listButtons__button:hover {
    color: hsl(180, 100%, 35%);
}

.listButtons__button:disabled {
    color: hsl(0, 0%, 87%);
    cursor: default;
}

.listButtons {
    padding: 15px;
}

@media (max-width: 767px) {
    .listButtons__button {
        padding: 10px;
        width: 100%;
    }
}